@using Shoppje.Areas.admin.Models
@model CategoryCreateViewModel;

@{
    ViewData["Title"] = "Add category";
}

<h2 class="mb-4">Add New category</h2>

<form asp-action="AddProcessing" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Status" class="form-label">Status</label>
        <select asp-for="Status" class="form-select" asp-items="ViewBag.CategoryStatus">
            <option value="">-- Select status --</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Add category</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
}
